.container {
  width: 100%;
  height: auto;
}

.title {
  position: fixed;
  letter-spacing: -2px;
  top: 10px;
  left: 0;
  z-index: +1;
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: rgb(83 0 0 / 58%);
  text-shadow: 0px 0px 20px rgb(0 6 9);
  -webkit-user-select: none;
  user-select: none;
}

.field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.card {
  cursor: pointer;
  transition: all 0.4s ease-in;
  position: relative;
  user-select: none;
  animation: scale 5s infinite;
}

.card:hover {
  transform: scale(1.02);
  opacity: 0.6;
}

.card img {
    display: block;
    pointer-events: none;
    max-width : 100%;
    height: auto;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.active {
  opacity: 1;
}

.description__title {
  color: white;
  font-size: 30px;
}

.description__text {
  color: white;
  font-size: 14px;
  margin-top: 30px;
}

@media (max-width : 800px) {
  .field {
      grid-template-columns: 1fr 1fr;
  }
}

@media (max-width : 550px) {
  .field {
      grid-template-columns: 1fr;
  }
}

@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.01);
  }
}