* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  background-color: rgb(4 26 38);
}